<h1 class="display-1 text-center pt-4 underline">
    <u>
        <%=@user.fname.capitalize+" "+@user.lname.capitalize%>
    </u>
</h1>

<p class="display-4 text-center pt-4 ">OP.GG:
    <%=link_to @user.username.capitalize, "http://na.op.gg/summoner/userName=#{@user.username}",target: :_blank, class:'text-muted btn bg-primary text-capitalize ' %>
</p>
<p class="lead text-center pt-4">Rank:
    <%=@user.rank.capitalize%>
</p>
<p class="lead text-center pt-4">Contact Me At:
    <%=@user.email.capitalize%>
</p>