
 .table {
    width: 50%;
    margin: auto;

    float: none;
}

.table th, td {
    vertical-align: middle !important;
    text-align: center;
}

@media (max-width: 992px) {
    
.nav-item {
    margin-top: 15px !important;
    max-width: 200px;
}
}

@media (min-width: 992px) {
    
.form-signin {
    max-width: 500px;
}

}

#dropdownmobile{
    margin: auto;
    /* width: 200px */
}

